/*

INDEX > FOOTER

*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 80px 20px;
  background-color: var(--cor-azul-1);
  background-image: url('https://arquivos-evolution.nyc3.digitaloceanspaces.com/pages/index/background-degrade.png');
  background-size: cover;
  background-position: center;
}

footer img {
  width: 100%;
  max-width: 250px;
}

footer p {
  font-family: var(--fonte-regular);
  font-size: clamp(0.9rem, 5vw, 1.2rem);
  line-height: 1.5;
  color: var(--cor-branco);
  padding: 20px 0 0 0;
  text-align: center;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
  footer img {
    max-width: 180px;
  }
}
