/*

FONTES

*/

@font-face {
  font-family: 'clarikaRegular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://arquivos-evolution.nyc3.digitaloceanspaces.com/fonts/clarika-regular.woff') format('woff');
}

@font-face {
  font-family: 'clarikaDemibold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://arquivos-evolution.nyc3.digitaloceanspaces.com/fonts/clarika-demibold.woff') format('woff');
}
