/* VARIABLES */
:root {

  --cor-branco: #FFFFFF;
  --cor-preto: #000000;

  --cor-azul-1: #00A1E0;
  --cor-azul-2: #6BC7F3;
  --cor-azul-3: #BCEBFF;
  --cor-azul-4: #CEF0FF;
  --cor-azul-5: #E4F7FF;

  --cor-verde: #29ad51;
  --cor-vermelho: #e9223c;

  --cor-cinza-1: #636781;
  --cor-cinza-2: #F6F6F9;

  --regular: 'clarikaRegular';
  --demibold: 'clarikaDemibold';

}
