/*

INDEX > section.formulario3

*/

section.formulario3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-branco);
}

section.formulario3 .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 80px;
}

section.formulario3 .texto form {
  width: 100%;
}

section.formulario3 .texto h2 {
  font-family: var(--fonte-regular);
  font-size: clamp(1.5rem, 5vw, 3rem);
  line-height: 1.3;
  color: var(--cor-azul-1);
  padding: 0 0 30px 0;
}

section.formulario3 .texto h2 span {
  font-family: var(--fonte-demibold);
  color: var(--cor-verde-1);
  background-color: var(--cor-verde-2);
  border-radius: 15px;
  padding: 0 10px 3px 10px;
}

section.formulario3 .texto form .clear {
  position: relative;
  width: max-content;
}

section.formulario3 .texto form .clear img {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  pointer-events: none;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  pointer-events: none;
}

section.formulario3 .texto form .clear input.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--cor-branco);
  background-image: linear-gradient(0deg, #00A1E0, #6BC7F3);
  background-image: -webkit-linear-gradient(0deg, #00A1E0, #6BC7F3);
  background-image: -moz-linear-gradient(0deg, #00A1E0, #6BC7F3);
  background-image: -o-linear-gradient(0deg, #00A1E0, #6BC7F3);
  padding: 15px 50px 15px 20px;
  border-radius: 15px;
  transition: all 0.3s;
}

section.formulario3 .texto form .clear input.button:hover {
  opacity: 0.7;
}

section.formulario3 .texto label {
  font-family: var(--fonte-demibold);
  font-size: clamp(0.9rem, 5vw, 1rem);
  color: var(--cor-azul-1);
  padding: 0 0 10px 0;
}

section.formulario3 .texto .input {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 0 30px 0;
}

section.formulario3 .texto .input img {
  width: 20px;
  height: 20px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

section.formulario3 .texto .input input {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--cor-verde-1);
  background-color: var(--cor-cinza-2);
  padding: 20px 30px 20px 50px;
  border-radius: 10px;
  width: 100%;
}

section.formulario3 .texto .input input::placeholder {
  opacity: 1;
  color: var(--cor-cinza-1);
}

section.formulario3 .texto .input input:focus {
  color: var(--cor-azul-1);
}

section.formulario3 .imagem {
  width: 50%;
  background-image: url('../../../../../files/pages/index/background-cama-azul-desktop.png');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 105vh;
  position: relative;
}

section.formulario3 .imagem img.controle {
  position: absolute;
  bottom: 0;
  right: 200px;
  width: 100%;
  max-width: 200px;
}

section.formulario3 .imagem .temporizador {
  position: absolute;
  right: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 50px 50px 50px;
  border-radius: 20px 0 0 20px;
  background-image: linear-gradient(0deg, #00A1E0, #6BC7F3);
  background-image: -webkit-linear-gradient(0deg, #00A1E0, #6BC7F3);
  background-image: -moz-linear-gradient(0deg, #00A1E0, #6BC7F3);
  background-image: -o-linear-gradient(0deg, #00A1E0, #6BC7F3);
}

section.formulario3 .imagem .temporizador h2 {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--cor-branco);
  width: 100%;
  max-width: 250px;
  padding: 0 0 30px 0;
}

section.formulario3 .imagem .temporizador h2 span {
  font-family: var(--fonte-demibold);
}

section.formulario3 .imagem .temporizador .informacoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 400px;
}

section.formulario3 .imagem .temporizador .informacoes .parte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px 0 0;
}

section.formulario3 .imagem .temporizador .informacoes .parte h3 {
  font-family: var(--fonte-demibold);
  font-size: clamp(1.5rem, 5vw, 3rem);
  color: var(--cor-branco);
}

section.formulario3 .imagem .temporizador .informacoes .parte p {
  font-family: var(--fonte-regular);
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  color: var(--cor-branco);
}

/*

Responsivo

*/

@media screen and (max-width: 1400px) {
  section.formulario3 .imagem {
    min-height: 120vh;
  }
}

@media screen and (max-width: 1000px) {
  section.formulario3 {
    flex-direction: column;
  }
  section.formulario3 .texto {
    width: 100%;
    padding: 80px 20px 50px 20px;
  }
  section.formulario3 .imagem {
    width: 100%;
    background-image: url('../../../../../files/pages/index/background-cama-azul-mobile.png');
    background-position: top center;
    min-height: 500px;
    padding: 0 0 0 20px;
  }
  
  section.formulario3 .imagem img.controle {
    right: 20px;
    max-width: 100px;
  }
  
  section.formulario3 .imagem .temporizador {
    top: 100px;
    padding: 30px;
  }
  section.formulario3 .imagem .temporizador .informacoes {
    min-width: auto;
  }
  section.formulario3 .imagem .temporizador .informacoes .parte {
    padding: 0 20px 0 0;
  }
}
